*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    font-family: 'Poppins', sans-serif;
    
}
:root{
    font-size: 10rpx;
}
body{
    background-color:#4f4f4f ;
    color:white
}
/* SCROLLBAR */
::-webkit-scrollbar-track
{
	border: 5px solid white;
	 border-color: transparent;
	background-color: #343434;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: V;
}

::-webkit-scrollbar-thumb
{
	background-color: WHITE;
	border-radius: 10px;
}


/* NAVABAR */
nav{
    background-color:#343434;
    color:white;
}

#container-about{
    display:flex;
    margin-top:40px;
    flex-wrap: wrap;
    margin-bottom: 0;
    width:50%;
    justify-content: flex-start;
    border: 0.1px solid black;
    background-color: #343434;
    
}
.item{
     height: 15px;
     width: 15px;
     margin:2px;
     background-color: #6083fb;
     border-radius: 50%;
    display: inline-block;

}
.item-1{
    background-color:red;
}
.item-2{
    background-color:orange;
}
.item-3{
    background-color:green;
}
.msg{
    width:50%;
   
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    margin-top: 0;
   
    
    
    
    border: 0.1px solid black;
}

.msg-1{
    
   
    font-size: 4rem;

  

    
}
.msg-2{
    
    padding:2px;
    
    font-size: 1.5;
    margin:3.5px;
    
}

/* SKILLS */
#container-skills{
    
    padding: 0;
    margin:20px;
    border:black 1px solid;
    
}
.skills{
  
width:90vh;

}
.progress-bar{
    background: white;;
    width:60%;
    background-color:   #6083fb;
    transition: width .0s ease-in-out;
}

/* PORTFOLIO */

.flip-card{
   margin: 20px;
    width:300px;
height:300px;
    perspective: 1000px;

}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #343434;
    color: white;
  }
.flip-card-back{
  
    background-color:#343434;
    color:white;
    transform: rotateY(180deg);
}
#container-portfolio{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}





/* Contact me */
footer{
    border: 1px solid black;
    margin: 20px;
    background-color: #4f4f4f;
}
.icon{
    display:flex;
    justify-content: space-around;
}
.fa {
  
    padding: 20px;
    
    width: 50px;

    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  .fa:hover {
   
    color:white;
   

}

 .fa-linkedin{
   
    color:black;
 }
  .fa-github {
    
 
    color: black;
  }

  .fa-envelope{
 
    color:black;
 }
 
  

