*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    font-family: 'Poppins', sans-serif;
    
}
:root{
    font-size: 10rpx;
}
body{
    background-color:#4f4f4f ;
    color:white
}

/* BACKGROUND */
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(84%2c 86%2c 85%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c537.089C98.407%2c525.923%2c147.603%2c412.687%2c233.177%2c362.831C324.507%2c309.622%2c471.857%2c331.683%2c516.786%2c236.008C561.594%2c140.591%2c459.834%2c39.659%2c432.782%2c-62.225C409.61%2c-149.499%2c416.392%2c-242.925%2c369.185%2c-319.9C316.807%2c-405.306%2c249.416%2c-493.983%2c152.476%2c-519.286C56.035%2c-544.458%2c-35.599%2c-474.682%2c-132.37%2c-450.812C-234.694%2c-425.572%2c-349.468%2c-439.585%2c-432.705%2c-374.941C-522.509%2c-305.196%2c-589.309%2c-199.533%2c-601.487%2c-86.481C-613.529%2c25.308%2c-559.172%2c133.173%2c-497.573%2c227.234C-441.973%2c312.134%2c-356.008%2c366.263%2c-269.86%2c419.91C-184.893%2c472.822%2c-99.457%2c548.374%2c0%2c537.089' fill='%23373837'%3e%3c/path%3e%3cpath d='M1440 930.735C1515.835 940.153 1605.163 957.1030000000001 1663.42 907.648 1722.094 857.8389999999999 1694.348 760.72 1723.958 689.679 1752.1019999999999 622.156 1834.634 576.766 1831.801 503.668 1828.964 430.454 1767.103 371.903 1709.871 326.156 1658.474 285.073 1589.267 284.402 1527.874 260.729 1459.354 234.30700000000002 1398.844 159.19400000000002 1328.113 178.949 1257.541 198.66000000000003 1239.529 290.396 1200.232 352.24 1167.026 404.499 1119.95 451.596 1115.621 513.361 1111.395 573.658 1155.263 623.688 1177.262 679.988 1200.855 740.367 1202.712 811.5 1249.608 856.256 1299.926 904.278 1370.974 922.163 1440 930.735' fill='%23717473'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-attachment: fixed;
background-size: cover;
}


/* SCROLLBAR */
::-webkit-scrollbar-track
{
	border: 5px solid white;
	 border-color: transparent;
	background-color: #343434;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: V;
}

::-webkit-scrollbar-thumb
{
	background-color: WHITE;
	border-radius: 10px;
}


/* NAVABAR */
nav{
    
    background-color:#343434;
    color:white;
}



/* ABOUT */


#container-about{
    display:flex;
    margin-top:40px;
    flex-wrap: wrap;
    margin-bottom: 0;
    width:50%;
    justify-content: flex-start;
    border: 0.1px solid black;
    background-color: #343434;
    
}
.item{
     height: 15px;
     width: 15px;
     margin:2px;
     background-color: #6083fb;
     border-radius: 50%;
    display: inline-block;

}
.item-1{
    background-color:red;
}
.item-2{
    background-color:orange;
}
.item-3{
    background-color:green;
}
.msg{
    width:50%;
   
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    margin-top: 0;
   
    
    
    
    border: 0.1px solid black;
}

.msg-1{
    
   
    font-size: 150%;

  

    
}
.msg-2{
    
    padding:2px;
    
    font-size: 100%;
    margin:3.5px;
    
}

/* SKILLS */
#container-skills{
    
    padding: 0;
    margin:20px;
    border:black 1px solid;
    
}
.skills{
    margin: 80px;
}
.progress-bar{
    background: white;;
    background-color:   #6083fb;
   
}

/* PORTFOLIO */

.flip-card{
   margin: 20px;
    width:300px;
height:300px;
    perspective: 1000px;

}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color:transparent;
    color: white;
  }
.flip-card-back{
  
    background-color:#343434;
    color:white;
    transform: rotateY(180deg);
}
#container-portfolio{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}





/* Contact me */
footer{
    border: 1px solid black;
    margin: 20px;
    width:50%;
 
    background-color: #4f4f4f;
}
#container-contact{
   

   
}
.icon{
    display:flex;
    justify-content: space-around;
}
.fa {
  

    
    width: 50px;

    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  .fa:hover {
   
    color:white;
   

}

 .fa-linkedin{
   
    color:black;
 }
  .fa-github {
    
 
    color: black;
  }

  .fa-envelope{
 
    color:black;
 }
 
  

    

